# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# SILE artifacts
*.toc
*.ref
*.pdf
*.idx
*.debug
**/converted/*
**/embedded/*

# I often have crappy test files here
temp/*

# LDoc if ran locally
doc/*
ldoc/*

# Stuff copied or linked from lua_libraries/ to sile/
# for hacking (as those files from lua_libraries/ are not in the sile namespace)
sile/*
